@media (orientation: portrait) {
    .list-table tbody td {
        font-size: 2rem;
    }

    .list-table thead th {
        font-size: 2.25rem;
    }

    .list-table img {
        width: 75px;
        height: 75px;
    }

    .awardslist {
        display: inline-flex;
    }

    .modalcontent button {
        width: 50px;
        height: 50px;
        font-size: 40px;
    }

    .modalcontent p {
        font-size: 2rem;
    }

    .modalcontent b {
        font-size: 2rem;
    }

    .leftnavicons {
        margin-top: 0;
        padding-top: 0;
        max-width: none;
    }

    .navbtn, .leftnavicons  .navbtn.ico {
        width: 10rem;
        font-size: 1.5rem;
        height: 2rem;
        text-align: center;
        width: calc(64px + 16px);
        height: calc(64px + 16px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .qustBtn {
        /*height: 100%;*/
        width: 40px;
        background-color: #6b31aca3;
    }

    .navbtn p {
        display: none;
    }

    .navbtn img, .navbtn.ico img {
        width: 64px;
        height: 64px;
    }

    #list-awards-head input {
        width: 36px;
        height: 36px;
    }

    .award-item img {
        width: 48px;
        height: 48px;
    }

    .awardslist img {
        width: 48px;
        height: 48px;
    }
}