#modal, #modal2 {
    display: none;
}

#modal.active, #modal2.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stroke {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal b, #modal2 b {
    margin-right: 5px;
}

.modalClose {
    background-color: rgba(88, 88, 88, 0.9);
    border-radius: 8px;
    border: 0;
    color: white;
}

.modalcontent {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 15px 50px 25px 50px;
    border: 1px solid white;
    width: 50vw;
    min-width: 300px;
}

.imageDiv {
    display: flex;
    justify-content: center;
}

.imageDiv img {
    width: 75%;
}

.infoMedals {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.infoMedals p {
    text-align: right;
}

#modalMedalsList {
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
    flex-direction: column;
}

#modalMedalsList img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#modalDiv {
    display: flex;
    flex-direction: column;
}

#modalDiv .modalClose {
    width: 30px;
    height: 30px;
    align-self: end;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modalMedalItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    color: white;
    gap: 0.5rem;
}