body {
    background-color: #1a1a1a;
    color: white;
}
.navpanel {
    background-color: #242424;
}

.navbtn {
    background-color: #6b31ac3d;
}

.list-table tbody tr.userThisIs td,
.list-table tbody tr.userThisIs th {
    background: #6a31ac29 !important;
}

p {
    margin: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) #242424;
}

button {
    border: 0;
}

.langBtn {
    background-color: #6b31aca3;
}

.langBtn:hover {
    background-color: #924edea3;
}